<h3 style="text-align: center;margin:2rem 0">Welcome User!</h3>

<table class="user-table" border="1" width="100%" cellspacing="0" cellpadding="10">

  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>User Type</th>
      <th>Age</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    @for (item of users(); track item._id) {

    <tr>

      <td>
        <input *ngIf="editId === item._id" [(ngModel)]="formInputs.firstname" name="firstname" placeholder="Name">
        <span *ngIf="editId !== item._id">{{ item.firstname }}</span>
      </td>

      <td>
        <input *ngIf="editId === item._id" [(ngModel)]="formInputs.email" name="email" placeholder="Email">
        <span *ngIf="editId !== item._id">{{ item.email }}</span>
      </td>

      <td>
        <select *ngIf="editId === item._id" [(ngModel)]="formInputs.userType"
          [ngStyle]="canEdit ?{'cursor':'pointer'}:{'cursor':'not-allowed'}" name="userType" [disabled]="!canEdit">
          <option *ngFor="let type of userTypes" [value]="type">
            {{ type }}
          </option>
        </select>
        <span *ngIf="editId !== item._id">{{ item.userType }}</span>
      </td>

      <td>
        <input type="number" *ngIf="editId === item._id" [(ngModel)]="formInputs.age" name="age" placeholder="Age">
        <span *ngIf="editId !== item._id">{{ item.age }}</span>
      </td>

      <td id="button-cell"  [ngStyle]="{'cursor': (canDelete) ? 'default' : 'not-allowed'}" >
        <button class="btn btn-danger" *ngIf="editId === null"
         [disabled]="!canDelete"
          (click)="delUser(item._id)">
          <i class="fa-solid fa-trash"></i>
        </button>

        <button class="btn btn-warning" *ngIf="editId === null"
          [disabled]="!canEdit"
          (click)="editUser(item._id)">
          <i class="fa-solid fa-edit"></i>
        </button>

        <button *ngIf="editId === item._id" class="btn btn-success" (click)="updateUser(item._id)">
          Save
        </button>
      </td>

    </tr>

    } @empty {
    <tr>
      <td colspan="5" style="text-align:center;">No users found.</td>
    </tr>
    }

  </tbody>

</table>