<p>rxjsangular works!</p>


<h3 class="topics">Rxjs - Angular</h3>

<h4 class="subtopics">i.  Observables - stream of data</h4>
<h4 class="subtopics">ii. Subscribe - used for access those stream of data</h4>
<h4 class="subtopics">iii. next - used to emit new values through this next method</h4>
 
<p>{{obserVar}}</p>
<button (click)="startObserver()">Start Observer</button>



<h4 class="subtopics">iv. of() and from() </h4>
<p>of() is used for instantly emit values from the array </p>
<p>from() is used for instantly converting array to observables </p>
<button (click)="emitoffrom()">start of from</button>


<h4 class="subtopics">v. Map and Filter values</h4>
<h4 class="subtopics">vi. Pipe usually used for chain them map and filter concepts without that map,filter won't work</h4>
<h4 class="subtopics">vii. tap usually used for debugging like log the values inbetween map filter functionalities</h4>

<button (click)="maptrigger()">maptrigger</button> <br><br>
<button (click)="filtertrigger()">filtertrigger</button>


<h4 class="subtopics">viii. Switch Map</h4>
<p>Reducing the data leaks through unsubscribe previous values </p>
<strong>we used delay function because using switch map it would reject previous one so that need some time, so we can visually see what switch map does </strong><br>
<button (click)="switchmaptrigger()">switch map trigger</button>

<h4 class="subtopics">ix. Merge Map</h4>

<p>unlike switch map it will give all data works in parallely</p>
<button (click)="mergemaptrigger()">merge map trigger</button>

<h4 class="subtopics">ix. Concat Map</h4>

<p>It works unlike mergemap and switch map, it works sequentially one by one . waits....</p>
<button (click)="concatmaptrigger()">concat map trigger</button>
<h4 class="subtopics">ix. Catch Error</h4>

<p>Used to caught the error and giving the fallback value also</p>
<p>we create an custom error in value of 2 in array and given fallback value also </p>
<strong></strong><br><br>
<button (click)="runCatchError()">catch error trigger</button>


<h4 class="subtopics">x. Subject</h4>
<p>Subject act as observer and observable , can able to recieve data through subscribe and produce data through next</p>
<button (click)="triggersub()">trigger subject</button>

<h4 class="subtopics">xi. Behavorial Subject</h4>
<p>Behavorial subject same as subject but it holds initial and current value and get those current value through getValue() method or (.value) operator</p>
<button (click)="triggerbeh()">trigger Behavorial Subject</button>


<h4 class="subtopics">xii. Combine Latest</h4>
 <button (click)="triggercombinelatest()">combine latest</button>
 <p>Used for emit multiple observables with current values whenever eventhough any one changed </p>

<button (click)="incrAvalue()">inc A</button>
<button (click)="incrBValue()">inc B</button>
 
<h4 class="subtopics">xii. Debounce Time</h4>
 <button (click)="debouncelisten()">debouncelisten listen</button>

 <input type="text"  [(ngModel)]="searchInput" placeholder="Google Search ex.." (input)="onchangeevent()">
 <p> Used to delay the process according to respective time period for fetch the action completely</p>
 <p>In above input it waits 500ms untill the typing action completes</p>
 
<h4 class="subtopics">xiii. next, error, complete</h4>
<button (click)="nexterrorcomplete()">next error complete</button>
<h4 class="subtopics">xiv. concatAll</h4>
<p>concat all observable along with inner observable wait to complete</p>
<button (click)="concatall()">concatall</button>
<h4 class="subtopics">xv. mergeAll</h4>
<p>order is not guaranteed but everything functions in parellel</p>
<button (click)="mergeall()">mergeall</button>
<h4 class="subtopics">xvi. switchall</h4>
<p>cancels the previous inner Observable whenever a new one comes in</p>
<button (click)="switchall()">switchall</button>
<h4 class="subtopics">xvii. exhaustAll</h4>
<p>Reject the new observable values only implement first one</p>
<button (click)="exhaustMap()">exhaustAll</button>
<h4 class="subtopics">xviii. Timer</h4>
<p>delay respected time to run once or multiple times</p>
<button (click)="timer()">Timer</button>

<h4 class="subtopics">xix. interval</h4>
<p>trigger between respective timing</p>
<button (click)="interval()">interval</button>


<h4 class="subtopics">xx. forkjoin</h4>
<p>Waiting for all observable complete then only give the result</p>
<button (click)="forkjoin()">forkjoin</button>


<h4 class="subtopics">race</h4>
<p>implement the first winning observable and ignore rest</p>
<button (click)="race()">race</button>

<h4 class="subtopics">mapto</h4>
<p>to transform the existing data to new one</p>
<button (click)="mapto()">mapto</button>

<h4 class="subtopics">pluck</h4>
<p>Pick the value from the object through pluck</p>
<button (click)="pluck()">pluck</button>

<h4 class="subtopics">filter - first, last</h4>
<p>performing no of series 1,2,3,4,5,6,7,8 using filter and show first and last one</p>
<button (click)="filtergroup()">filterfirstlast</button>

<h4 class="subtopics">take,takewhile,takelast</h4>
<p>performing no of series 1,2,3,4,5,6,7,8 through take, takewhile, takelast</p>
<p>takewhile condition less than 5</p>
<button (click)="take()">taketakewhiletakelast</button>
<h4 class="subtopics">skip,skipwhile</h4>
<p>performing no of series 1,2,3,4,5,6,7,8 through take, takewhile, takelast</p>
<p>skipwhile condition less than 5</p>
<button (click)="skiptrigger()">skipskipwhile</button>

<h4 class="subtpics">distinct and distinctuntilchanged</h4>

<p>distinct - give unique values</p>
<p>distinctuntilchanged - prevent consecutive dupliate values</p>
<button (click)="distinct()">distinct distinctuntilchanged</button>

 
<h4 class="subtopics">Delay and Delay when</h4>
<p>Delay just delay the observable and Delay when works based on the another observable</p>
<button (click)="delayfunc()">delay delaywhen</button>

 
 
<h4 class="subtopics">Repeat</h4>
<p>Repeats the whole observable and without parameter this would be repeat forever </p>
<p>Given parameter is 4</p>
<button (click)="repeatfunc()">repeat</button>



 
<h4 class="subtopics">Retry</h4>
<p>if error caught we can insert retry function to execute the same operation which failed because of error </p>
<button (click)="retry()">retry</button>




 
