<p>{{childVariable}}</p>


<h4 class="subtopics">iv   ..ngaftercontentinit..</h4>

<h5 class="tiny">project the outside parent content through ng content</h5>
 

<h4 class="subtopics">v   ..ngaftercontentcheck..</h4>

<h5 class="tiny">Ensure outside content fully projected</h5>
 

<h4 class="subtopics">vi   ..ngafterviewinit..</h4>

<h5 class="tiny">Ensure "Angular viewchild Demo " attached through ngafterviewinit if you put ngoninit that not fully update the view that cause error</h5>
 
 <h2 #title>Angular ViewChild Demo</h2>
<h4 class="subtopics">vi   ..ngafterviewcheck..</h4>

<h5 class="tiny">Ensure "Angular viewchild Demo " any changes got  </h5>
  
 <h2 #additionaltitle>Angular ViewChild Demo</h2>
 <button (click)="triggerngafterviewcheck()">ngafterviewcheck</button>
