


.topics{
    display: flex;
    justify-content: center;
    background-color: rgb(106, 183, 234);
    color:#fff;
    border-radius: 4px;
}
.subtopics,.tiny
{
    border-radius: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: rgb(169, 162, 209) ;
    width: fit-content;
   padding: 5px;
}
.tiny{
    background-color: rgb(33, 220, 133);
    color:gray;
}