 
 
#userslist {
    display: flex;

   gap: 2rem;
}

#userslist p,#userslist input {
     width: 12rem;
    height: 50px;
 }
#userslist p,#userslist input:focus{
 
}
select{
    height: 50px;
}
#usertypeid {
    width: 1rem;
    height: 1rem;
  }
  .selectadmintype{
    display: flex;
    align-items: center;
    justify-self: center;
  }

.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.buttoncontainer button {
    cursor: pointer;
}