


.topics{
    display: flex;
    justify-content: center;
    background-color: rgb(106, 183, 234);
    color:#fff;
    border-radius: 4px;
}
.subtopics,.tiny
{
    border-radius: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: red ;
    width: fit-content;
}
.tiny{
    background-color: blue;
    color:gray;
}