<p>home works!</p>


<h3 class="topics">1. Hooks</h3>

<h4 class="subtopics">i  ..ngoninit.. </h4>

<h5 class="tiny">Rendering Items through ngoninit Hook</h5>

<div *ngFor="let item of randomUsers" >
    <p>{{item.email}}</p>
    <p>{{item.name.first}}</p>
    

</div> 

<h4 class="subtopics">ii  ..ngonchanges..</h4>
<h5 class="tiny">trigger ngonchanges through input decorator</h5>
<button (click)="triggerNgOnChanges()">ngOnchanges </button>

<h4 class="subtopics">iii  ..ngdocheck..</h4>

<h5 class="tiny">Monitor change detection through timers</h5>
<p>{{timer}}</p>
 <button (click)="ngdochecktrigger()">ngdocheck</button>

   <app-homechild [childVariable]="childPass" *ngIf="triggeredChild">
     <p #parentproperty> Hi i am outside content from the parent: {{timer}}</p> 

 </app-homechild>  
<h4 class="subtopics">vi   ..ngondestroy..</h4>

<h5 class="tiny">triggered the ngdestroy from parent to child to remove the child  </h5>
  
 <button (click)="removechild()">ngdestroy child</button>
 <div>Outside Component</div>

<app-encapsulation></app-encapsulation>

<app-contentprojection #showContentprojection>
  <div>
    <h3>This content projected from the parent componenet</h3>
    <p>This is dragged from single slot content projection method</p>

  </div>

  <div newsubheader>
    <h3>This is for multi slot content project through select inside ng-content</h3>

  </div>
  <p newsubpara>this is also multi slot content projection through select inside ng-content but name is --newsubpara--</p>
  <ng-container  >
  <ng-content></ng-content>
</ng-container>
</app-contentprojection>


 
 <!-- parent.component.html -->
<button (click)="showContent = !showContent">Toggle Projected Content</button>

<ng-container *ngIf="showContent">
  <app-contentprojection>
    <p>This content is projected from parent</p>
  </app-contentprojection> 
</ng-container>




<app-inputoutputdec *ngIf="countPar>2" [passCount]="countPar" [childVar]="parentVar" [outVariableName]="'outVariableName'" [price]="23000" (stocksget)="noOfStocks($event)" (priceClicked)="priceGot($event)"   > 

  <p contentforinputoutput> here input output </p>

</app-inputoutputdec>

<button (click)="increaseParentCount()">increase parent count </button>